.content {
    line-height: 2em;
    font-size: large;
}

input {
    margin-left: 1em;
    margin-right: 1em;
}

table {
    padding-top: 1em;
    padding-bottom: 1em;
}

table tr td{
    padding-left: 20px;
    padding-right: 20px;
}

table tr th{
    padding-left: 20px;
    padding-right: 20px;
}
